[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
start = "python run.py"
test = "bash -c \"cp 'conf/example_config.json' 'conf/config.json'; python -m unittest discover\""

[dev-packages]
pylint = ">=2.17.1"

[packages]
beautifulsoup4 = ">=4.12.0"
requests = ">=2.28.2"
mysql-connector-python = ">=8.0.32"
dropbox = ">=11.36.0"

[requires]
python_version = "3.11"
