[Unit]
Description = Net Radio Recording
After = network.target

[Service]
User = yryr
WorkingDirectory = /home/yryr/Rec-adio
ExecStart = /home/yryr/.local/bin/pipenv run start
Restart = no
Type = simple

[Install]
WantedBy = multi-user.target