# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: agqr url check

on:
  schedule:
    - cron: '0 22 * * *'
  workflow_dispatch:

jobs:
  check:
    runs-on: self-hosted
    steps:
    -
      uses: actions/checkout@v2
      with:
        ref: 'v3'
    -
      name: install ffmpeg
      run: |
        sudo apt update
        sudo apt install -y ffmpeg
        ffmpeg -version
    -
      name: Install Pipenv
      run: pip install pipenv
    -
      name: Install dependencies
      run: |
        pipenv install
    -
      name: Test with unittest
      run: |
        cp 'conf/example_config.json' 'conf/config.json'
        pipenv run python -m unittest test.test_agqr
